.navbar-custom {
    color: #FFF000;
    background-color: #FF0000;
}
.flash {
	background-color: #F77C94;
	width:100%;
	text-decoration: none;

}

.flash li {
	list-style-type: none;
	text-align: center;

}
